.signup_wrapper{
    display: flex;
}

.signup_left{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup_right{
    background-color: #21295C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup_left, .signup_right{
    width: 50%;
    height: 100vh;
}

.hero{
    height: 450px;
}

.signup_right_bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup_right_bottom > h4 {
    text-align: center;
    color: white;
    font-size: larger;
    font-weight: bold;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form > div > input, select{
    width: 95.5%;
    padding: 7px;
    margin-top: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: medium;
}

form > div > label {
    font-weight: bold;
    color: #21295C;
}

.signup_btn{
    width: 96%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: medium;
    background-color: #21295C;
    color: white;
}

.signup_btn:hover{
    cursor: pointer;
    opacity: 0.7;
}

.btn_wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

a{
    text-decoration: none;
    color: #21295C;
}

.form_wrapper > div > h1{
    color: #21295C;
}

.form_wrapper > h4{
    color: black;
}